@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    font-family: "Syne", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
    height: 100dvh;

    background-color: var(--primary-color);
    color: var(--text-color-gray);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 17dvh;
}

header img{
    height: 8dvh;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header button i {
    font-size: 32px;
}

header button:nth-child(2){
    margin-left: 20px;
}

/* FIM HEADER */

/* MAIN */

main {
    width: 100%;
    height: 73dvh;
}

form {
    height: 16%;
}

.form-area {
    background-color: var(--secundary-color);
    height: 100%;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-area input {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    outline: none;
    height: 100%;
    width: 100%;
}

.form-area button {
    background: var(--purple);
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.form-area button:hover{
    filter: brightness(0.9);
}

.form-area button i {
    font-size: 20px;
    color: white;
    margin-top: 2px;
}

.graph__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 84%;
}

canvas {
    max-height: 50dvh;
    max-width: 60dvw;
}

#dados{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#dados p{
    color: var(--white);
}

#dados p span{
    color: var(--pink);
}

/* FIM MAIN */

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10dvh;
}

footer div {
    display: flex;
    gap: 8px;
}

footer div p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* FIM FOOTER */